html {
	font-size: 10px;
	font-family: 'Slabo 27px', serif;
	background-color: #CD6723;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #FF4E00;
	padding: 0px 20px 20px 20px;
	border: 5px solid black;
}

img {
	display: block;
	margin: 0 auto;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #CD6723;
	text-shadow: -5px -4px 1px black;
	font-size: 60px;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}